@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins:300,400&display=swap");
@import "../breakpoints/breakpoints.scss";

.header {
  display: flex;
  align-items: center;
  height: 100px;
  @include media("<=phone") {
    width: 327.5px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
  }
  @include media(">phone", "<=425px") {
    width: 327.5px;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
  }

  @include media(">425px", "<desktop") {
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
  }

  a {
    margin: 0 28px;
    text-decoration: none;
    color: #181818;
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins";
    @include media("<=phone") {
      width: 310px;
      display: flex;
      justify-content: space-between;
      margin: 10px;
      font-size: 15px;
    }
    @include media(">phone", "<=425px") {
      width: 327.5px;
      display: flex;
      justify-content: space-between;
      margin: 10px;
      font-size: 15px;
    }
    @include media(">425px", "<desktop") {
      width: 327.5px;
      display: flex;
      justify-content: space-between;
      margin: 10px;
      font-size: 15px;
    }
  }
}

.container {
  position: relative;
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @include media("<=phone") {
    min-width: 0;
    width: 300px;
  }
  @include media(">phone", "<=425px") {
    min-width: 0;
    width: 327.5px;
  }
  @include media(">425px", "<desktop") {
    min-width: 0;
    width: 327.5px;
  }
  .page {
    position: absolute;
    .inner {
      display: flex;
      flex-flow: column;
      justify-content: center;
      h1 {
        font-family: "Bebas Neue";
        font-size: 52px;
        letter-spacing: 0.1rem;
        .line-wrap {
          overflow: hidden;
          height: 66px;
        }
      }
      img {
        @include media("<=phone") {
          padding: 0;
          margin: 0;
          line-height: 30px;
          font-size: 20px;
          width: 327.5px;
        }
        @include media(">phone", "<=425px") {
          padding: 0;
          margin: 0;
          line-height: 30px;
          font-size: 20px;
          width: 327.5px;
        }
      }
      p {
        font-family: "Poppins";
        margin-top: 50px;
        width: 340px;
        font-weight: 300;
        line-height: 24px;
        font-size: 24px;
        @include media("<=phone") {
          padding: 0 0 5rem 0;
          margin: 0;
          line-height: 30px;
          font-size: 20px;
          width: 327.5px;
        }
        @include media(">phone", "<=425px") {
          padding: 0 0 5rem 0;
          margin: 0;
          line-height: 30px;
          font-size: 20px;
          width: 327.5px;
        }
      }
    }
  }
}
//transitions
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
