@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins:300,400&display=swap");
/**
*
* Testing
*
**/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

@media (max-width: 360px) {
  .header {
    width: 327.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem 1rem;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .header {
    width: 327.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0.5rem;
  }
}

@media (min-width: 426px) and (max-width: 1365px) {
  .header {
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0.5rem;
  }
}

.header a {
  margin: 0 28px;
  text-decoration: none;
  color: #181818;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins";
}

@media (max-width: 360px) {
  .header a {
    width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px;
    font-size: 15px;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .header a {
    width: 327.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px;
    font-size: 15px;
  }
}

@media (min-width: 426px) and (max-width: 1365px) {
  .header a {
    width: 327.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px;
    font-size: 15px;
  }
}

.container {
  position: relative;
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 360px) {
  .container {
    min-width: 0;
    width: 300px;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .container {
    min-width: 0;
    width: 327.5px;
  }
}

@media (min-width: 426px) and (max-width: 1365px) {
  .container {
    min-width: 0;
    width: 327.5px;
  }
}

.container .page {
  position: absolute;
}

.container .page .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .page .inner h1 {
  font-family: "Bebas Neue";
  font-size: 52px;
  letter-spacing: 0.1rem;
}

.container .page .inner h1 .line-wrap {
  overflow: hidden;
  height: 66px;
}

.container .page .inner p {
  font-family: "Poppins";
  margin-top: 200px;
  width: 340px;
  font-weight: 300;
  line-height: 24px;
  font-size: 24px;
}

@media (max-width: 360px) {
  .container .page .inner p {
    padding: 0;
    margin: 0;
    line-height: 30px;
    font-size: 20px;
    width: 327.5px;
  }
}

@media (min-width: 361px) and (max-width: 425px) {
  .container .page .inner p {
    padding: 0;
    margin: 0;
    line-height: 30px;
    font-size: 20px;
    width: 327.5px;
  }
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}
/*# sourceMappingURL=App.css.map */