@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins:300,400&display=swap");
@import "../breakpoints/breakpoints.scss";

.header {
  display: flex;
  align-items: center;
  height: 100px;
  @include media("<=phone") {
    width: 615px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
  }

  a {
    margin: 0 28px;
    text-decoration: none;
    color: #181818;
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins";
    @include media("<=phone") {
      font-size: 25px;
    }
  }
}

.container {
  position: relative;
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @include media("<=phone") {
    min-width: 0;
    width: 615px;
  }
  .page {
    position: absolute;
    .inner {
      display: flex;
      flex-flow: column;
      justify-content: center;
      @include media("<=phone") {
        width: 615px;
        justify-content: center;
        align-items: center;
        flex-flow: column;
      }
      h1 {
        font-family: "Bebas Neue";
        font-size: 52px;
        letter-spacing: 0.1rem;
        .line-wrap {
          overflow: hidden;
          height: 66px;
          @include media("<=phone") {
            width: 615px;
          }
        }
      }
      p {
        font-family: "Poppins";
        margin-top: 200px;
        width: 340px;
        font-weight: 300;
        line-height: 24px;
        font-size: 14px;
        @include media("<=phone") {
          line-height: 45px;
          font-size: 52px;
          width: 615px;
        }
      }
    }
  }
}
//transitions
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

// @media screen and (max-width: 799px) {
//   .header {
//     width: fit-content;
//     display: flex;
//     flex-flow: row;
//     align-items: center;
//     a {
//       margin: 15rem 4rem;
//       font-size: 20px;
//     }
//   }
//   .container {
//     max-width: 799px;
//     .page {
//       .inner {
//         position: absolute;
//         right: 15px;
//         h1 {
//         }
//         p {
//         }
//       }
//     }
//   }
// }
